.photo-full {
  padding: 2rem;
  width: 100%;
}

.photo-container {
  margin: auto;
}

.headline-photo {
  display: flex;
  font-weight: 700;
  text-align: center;
  justify-content: center;
}

.photo-card {
  justify-content: center;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-top: 24px;
  margin: auto;
}

.photo-card-1 {
  max-width: 31%;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #ffffff;
  font-weight: 700;
  justify-content: center;
}

.photo-card-image {
  width: 25%;
}
